<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<!-- timeout in milliseconds for a webrequest -->
		<!-- default: 120000 (2 min) -->
		<add key="DefaultTimeout" value="120000" />
		<!-- when a URL reaches this amount of rows it will be reset -->
		<!-- default: 500 -->
		<add key="DefaulURLRowLimit" value="500" />
		<!-- interval for the timer to check the URLS in milliseconds -->
		<!-- default: 30000 (30 seconds) -->
		<add key="DefaulTimerInterval" value="30000" />
	</appSettings>
</configuration>
